@media (min-width: 800px) {
    body {
        /* background-image: url("../img/bgportada.jpg"); */
        background-color: #000 !important;
    }
    .nav {
        display: none !important;
    }
    .togglingMenu {
        display: none !important;
    }
    .togglingOff {
        display: none !important;
    }
    .devices {
        position: fixed;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        z-index: 100;
    }
    .devices ul {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    }
    .devices ul a {
        color: white;
        text-decoration: none;
    }
    .frontPage {
        flex-direction: row;
    }
    main {
        background-color: rgb(17, 17, 17);
        padding: 50px;
    }
    #logoView {
        display: flex;
        padding-top: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #d1d1d1bf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height: 100%;
        width: 50%;
        gap: 30px;
        background-color: var(--dark-color);
        animation: entrance 1s 1;
    }
    .frontPage h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 60px;
        text-shadow: 3px 14px 25px rgba(163, 163, 163, 1), 3px 4px 20px rgba(0, 0, 0, 1);
    }
    .frontPage p {
        text-align: justify;
        width: 70%;
        font-size: 15px;
    }
    .frontPage h2 {
        font-size: 25px;
    }
    .frontPage button {
        margin-bottom: 20px;
        padding: 10px 15px;
        border: unset;
        border-radius: 15px;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
        overflow: hidden;
    }
    .frontPage button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms
    }
    .frontPage button:hover {
        color: #e8e8e8;
    }
    .frontPage button:hover::before {
        width: 100%;
    }
    .computeImg {
        width: 50%;
        height: 100%;
        object-fit: cover;
        background-image: url("../img/home/frontPage.com.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        animation: entrance2 1s 1;
    }
    .logo {
        width: 10%;
        height: 100%;
        background-image: url("../img/perslogo.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    /* services */
    .servicesList {
        display: none !important;
    }
    .serviceH {
        background-color: black !important;
    }
    .servicesListDevice {
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        width: 390px;
        height: 100%;
        padding: 1em;
    }
    .serviceH .servicesListDevice {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: radial-gradient(rgb(92, 92, 92), #000);
        animation: none !important;
        transition: 1s;
        gap: 15px;
    }
    .servicesListDevice .strng {
        width: 40% !important;
        background-color: rgb(22, 22, 22);
        background-color: black;
        border-radius: 0px 0px 20px 20px;
        /* background: radial-gradient(black, rgb(51, 51, 51)); */
        animation: service 0.7s 1;
        transform: translateY(0) rotateX(0);
    }
    .serviceH .cartas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 25% !important;
        height: auto !important;
        background-image: linear-gradient(163deg, #9c9c9c 0%, #575757 100%);
        border-radius: 20px;
        animation: list 1s 1;
        transition: all .3s;
        opacity: 1;
    }
    @keyframes list {
        0% {
            opacity: 0;
            transform: translateX(200px);
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .code {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0em !important;
    }
    .code i {
        font-size: 3em;
        -webkit-background-clip: text;
        background-clip: text;
        color: gray;
    }
    @keyframes lists {
        0% {
            opacity: 0;
            transform: translateY(70px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .serviceH h3 {
        width: 100%;
        font-size: 20px !important;
        text-align: center;
        color: white;
    }
    .serviceH .cartas button {
        width: 70%;
        border-radius: 5px;
        background-color: #575656;
        border: none;
        color: white;
        margin-bottom: 20px;
    }
    .serviceH li p {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 16px;
        text-align: center;
        color: white;
    }
    .serviceH .cartas button {
        width: 40%;
        border-radius: 5px;
        background-color: #575656;
        border: none;
        color: white;
        margin-bottom: 20px;
    }
    .carta2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        transition: all .2s;
        border-radius: 30px;
        transform: scale(0.98);
        box-shadow: var(--shadow-color) var(--shadow-color) 0px 4px 2px, var(--shadow-color) 0px 8px 4px, var(--shadow-color) 0px 16px 8px, var(--shadow-color) 0px 32px 16px;
    }
    /* categoria */
    .offcategorySection .strng {
        width: 20% !important;
        font-size: 2em;
        text-align: center;
        color: rgba(74, 13, 24, 1);
        font-weight: bold;
        font-family: monospace;
        border-radius: 0px 0px 20px 20px;
        /* background: radial-gradient(black, rgb(51, 51, 51)); */
        transform: translateY(30px) rotateX(45deg);
        box-shadow: rgba(74, 13, 24, 0.637) 0px 54px 55px, rgba(74, 13, 24, 0.637) 0px -12px 30px, rgba(74, 13, 24, 0.637) 0px 4px 6px, rgba(74, 13, 24, 0.637) 0px 12px 13px, rgba(74, 13, 24, 0.637) 0px -3px 5px;
    }
    .categorySection {
        padding-top: 50px;
    }
    .categorySection .strng {
        width: 40% !important;
        color: rgba(74, 13, 24, 1);
        background-color: rgb(22, 22, 22);
        border-radius: 0px 0px 20px 20px;
        /* background: radial-gradient(black, rgb(51, 51, 51)); */
        animation: service 0.7s 1;
        transform: translateY(0) rotateX(0);
        box-shadow: rgba(74, 13, 24, 1) 0px 54px 55px, rgba(74, 13, 24, 1) 0px -12px 30px, rgba(74, 13, 24, 1) 0px 4px 6px, rgba(74, 13, 24, 1) 0px 12px 13px, rgba(74, 13, 24, 1)0px -3px 5px;
    }
    #categorys ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        justify-content: center;
        align-items: center !important;
        padding-left: 20px;
    }
    #categorys ul li {
        font-size: 17px;
        width: 11% !important;
        color: white;
    }
    .containerboth {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .generalInfo {
        display: flex;
        flex-direction: row;
        gap: 25px;
        width: 100%;
        padding: 1em;
    }
    .aboutimg {
        width: 70%;
        height: 50% !important;
        z-index: 6;
    }
    .hability {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly !important;
        gap: 10px;
        width: 60% !important;
    }
    .hability span {
        text-align: center;
        width: 100px;
        height: 140px;
        overflow: hidden;
    }
    .reviewSlide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-self: center;
        overflow: hidden;
    }
    .contactDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        gap: 10px;
        width: 100%;
        height: 900px;
        padding: 1em;
    }
    .cartaContact {
        position: relative;
        width: 50%;
        height: 100%;
        border-radius: 14px;
        z-index: 1111;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ;
    }
}