* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* background-image: url("../img/bgportada.jpg"); */
    background-color: #000;
}

main {
    background-color: #000;
}

.devices {
    display: none !important;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: #0d0d0d; */
    height: 80px;
    z-index: 100;
}

nav .togglingMenu {
    display: flex;
    position: absolute;
    gap: 12px;
    top: 80px;
    flex-direction: column;
    width: 100%;
    height: 370px;
    padding-right: 1em;
    background-color: #0d0d0d;
    border-radius: 0px 0px 20px 20px;
    animation-name: openMenu;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes openMenu {
    0% {
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 370px;
    }
}

.togglingOff {
    display: flex;
    position: absolute;
    gap: 12px;
    top: 80px;
    flex-direction: column;
    width: 100%;
    height: 0px;
    background: linear-gradient(#000, #000, #271412, #271412);
    padding-right: 1em;
    border-radius: 0px 0px 20px 20px;
    animation-name: closeMenu;
    animation-duration: 1s;
    animation-iteration-count: 1;
    overflow: hidden;
}

@keyframes closeMenu {
    0% {
        opacity: 1;
        height: 370px;
    }
    100% {
        display: none;
        height: 0px;
    }
}

nav ul li {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

nav ul a {
    color: white;
    text-decoration: none !important;
    font-size: 2em;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 100%;
}

.menu i {
    color: white;
    font-size: 3em;
}

.logo {
    width: 30%;
    height: 100%;
    background-image: url("../img/perslogo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#logoView {
    display: flex;
    padding-top: 3em;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    justify-content: center;
    color: #d1d1d1bf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    gap: 16px;
}

.frontPage h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 30px;
    text-shadow: 3px 14px 25px rgba(163, 163, 163, 1), 3px 4px 20px rgba(0, 0, 0, 1);
}

.frontPage p {
    text-align: center;
    width: 90%;
    font-size: 15px;
}

.frontPage h2 {
    font-size: 15px;
}

.frontPage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5px;
    background-color: #000;
}

.frontPage button {
    margin-bottom: 20px;
    padding: 10px 15px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.frontPage button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.frontPage button:hover {
    color: #e8e8e8;
}

.frontPage button:hover::before {
    width: 100%;
}

.whatsapp {
    background-image: url("../asssets/icons/home/whatapp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 50px;
    animation: iconic 10s infinite;
}

@keyframes iconic {
    0% {
        background-image: url("../asssets/icons/home/whatapp.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translateX(0px);
    }
    50% {
        background-image: url("../asssets/icons/home/linkin.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    75% {
        background-image: url("../asssets/icons/home/gmail.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    100% {
        background-image: url("../asssets/icons/home/whatapp.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translateX(0px);
    }
}

.linkin {
    background-image: url("../asssets/icons/home/linkin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 50px;
}

.gmail {
    background-image: url("../asssets/icons/home/gmail.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 50px;
}

.cp {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}


/* 
.sidePics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15%;
}

.leftPic {
    width: 48%;
    height: 100%;
    background-image: url("../asssets/proyects/law.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rightPic {
    width: 48%;
    height: 100%;
    background-image: url("../asssets/proyects/beauty.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.techPic {
    position: relative;
    width: 100%;
    height: 30%;
    background-image: url("../img/curved.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.computer {
    position: absolute;
    left: 8px;
    top: 41px;
    width: 372px;
    height: 184px;
    background-image: url("../asssets//proyects/gym.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.phone {
    position: absolute;
    left: 15px;
    top: 190px;
    width: 166px;
    height: 151px;
    background-image: url("../img/phoneCs.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.phone img {
    position: absolute;
    object-fit: fill;
    left: 52px;
    top: 10px;
    width: 62px;
    height: 131px;
    background-image: url("../img/phoneCs.jpg");
    border-radius: 10px;
} */

.frontPage i {
    position: relative;
    top: 100px;
    font-size: 2em;
    color: white;
    justify-self: end;
    animation: down 3s infinite;
}

@keyframes down {
    0% {
        top: -10px
    }
    50% {
        top: 5px
    }
    100% {
        top: -10px
    }
}

@media (min-width: 800px) {
    nav {
        display: none;
    }
    .togglingMenu {
        display: none !important;
    }
    .togglingOff {
        display: none !important;
    }
    .devices {
        position: fixed;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        z-index: 100;
    }
    .frontPage {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        gap: 5px;
        background-color: #000;
    }
    .frontPage h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 60px;
        text-shadow: 3px 14px 25px rgba(163, 163, 163, 1), 3px 4px 20px rgba(0, 0, 0, 1);
    }
    .frontPage p {
        text-align: justify;
        width: 70%;
        font-size: 15px;
    }
    .frontPage h2 {
        font-size: 25px;
    }
    .frontPage button {
        margin-bottom: 20px;
        padding: 10px 15px;
        border: unset;
        border-radius: 15px;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
        overflow: hidden;
    }
    .frontPage button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms
    }
    .frontPage button:hover {
        color: #e8e8e8;
    }
    .frontPage button:hover::before {
        width: 100%;
    }
    .cp {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }
    .logo {
        width: 10%;
        height: 100%;
        background-image: url("../img/jplogo.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .devices ul {
        display: flex;
        width: 55%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        gap: 8px;
    }
    .devices ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        gap: 8px;
    }
    .devices ul a {
        color: white;
        text-decoration: none !important;
        font-size: 17px;
    }
    .sidePics {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 200px;
    }
    .leftPic {
        width: 25%;
        height: 100%;
        background-image: url("../asssets/proyects/law.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .rightPic {
        width: 25%;
        height: 100%;
        background-image: url("../asssets/proyects/beauty.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .techPic {
        position: relative;
        width: 400px;
        height: 300px;
        background-image: url("../img/curved.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .computer {
        position: absolute;
        left: 8px;
        top: 41px;
        width: 372px;
        height: 184px;
        background-image: url("../asssets//proyects/gym.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .phone {
        position: absolute;
        left: 15px;
        top: 190px;
        width: 166px;
        height: 151px;
        background-image: url("../img/phoneCs.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #categorys ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 15px;
        width: 100%;
        padding-left: 20px;
    }
    article ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        gap: 30px;
        width: 100%;
        padding: 50px;
        color: #ffffff;
        background: radial-gradient( #313131, black);
    }
    article .carta {
        width: 340px;
        text-align: center;
    }
    .contactDiv {
        width: 100%;
    }
    .cartaContact {
        width: 65%;
    }
    .bg {
        width: 99%;
    }
}