.portafolio {
    background-image: url("https://cdn.pixabay.com/photo/2018/12/18/22/30/background-3883188_1280.jpg");
}

.portafolio .categorySection {
    background-color: black !important;
}

.introducer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.introducer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    transform: scale(1);
}

.introducer strong {
    position: relative;
    top: -150px;
    right: 30px;
    font-size: 5em;
    color: white;
    text-shadow: 5px 20px 16px rgba(255, 255, 255, 0.96);
}

.box {
    position: relative;
    width: 260px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* desde aqui */

.reviewDiv {
    position: relative !important;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    padding: 30px;
    animation: review 2s 1;
    transition: 1s;
    visibility: visible;
    overflow: hidden;
}

.reviewDivoff {
    visibility: visible;
}

@keyframes review {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    padding: 1em !important;
}

.card h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    width: 100%;
    height: 80%;
    color: white;
}

.card p {
    padding: 10px;
    font-size: 13px;
    width: 90%;
    text-align: justify;
    color: rgb(29, 29, 29);
}

.card button {
    padding: 0px!important;
    font-size: 10px;
    align-self: center;
    width: 20%;
    border: none;
    background: none;
    color: rgba(187 130 5);
    font-size: 13px;
}

.consult {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background: url("https://images.pexels.com/photos/5669619/pexels-photo-5669619.jpeg?auto=compress&cs=tinysrgb&w=1200")no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px
}

.consult h4 {
    font-size: 4em;
    color: white;
}

.consult p {
    font-size: 1.6em;
    color: white;
}

.consult button {
    width: 120px;
    color: white;
    margin-top: 30px;
}

pre {
    color: white;
}

.slick-slider .slick-track {
    display: flex;
    gap: 10px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 2em !important;
    overflow: hidden;
}

.reviews h5 {
    align-self: start;
    font-size: 14px;
    color: rgb(187 130 5);
    margin-left: 20px !important;
}

.reviews h6 {
    align-self: start;
    font-size: 20px;
    color: #000;
    margin-left: 20px !important;
}

.reviewSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100%;
    align-self: center;
    overflow: hidden !important;
}

.slash {
    width: 100% !important;
    height: 385px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.301);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.miniature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
}

.one img {
    margin-left: 7px !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.one h6 {
    text-align: center;
    width: 30%;
    height: 30%;
    text-transform: uppercase;
    color: white;
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: start;
}

.two p {
    width: 90%;
    height: 50%;
    font-size: 13px;
    color: white;
    padding: 10px !important;
    text-align: center !important;
}