#services {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1028%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1029%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1418.4731480155122 553.474488348754L1319.0908706150935 446.900043733552 1212.5164259998917 546.2823211339705 1311.8987034003103 652.8567657491725z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1014.9275627968241 331.48542968517836L899.277191699297 267.37938218194745 835.171144196066 383.0297532794745 950.8215152935932 447.1358007827054z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1145.107%2c392.744C1187.371%2c389.596%2c1225.89%2c369.984%2c1248.105%2c333.892C1271.53%2c295.834%2c1279.782%2c248.268%2c1258.08%2c209.201C1235.828%2c169.145%2c1190.925%2c147.895%2c1145.107%2c148.479C1100.316%2c149.05%2c1061.626%2c174.59%2c1037.014%2c212.018C1009.183%2c254.341%2c985.599%2c308.034%2c1011.6%2c351.506C1037.224%2c394.349%2c1095.324%2c396.452%2c1145.107%2c392.744' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1252.986284007948 219.98837686343316L1125.8175691647755 249.3475880270389 1155.1767803283813 376.51630287021135 1282.3454951715537 347.15709170660557z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M506.303%2c558.035C548.801%2c558.463%2c582.942%2c529.226%2c606.436%2c493.81C633.52%2c452.983%2c659.72%2c403.917%2c637.518%2c360.242C613.924%2c313.829%2c558.351%2c295.461%2c506.303%2c296.83C456.753%2c298.134%2c408.549%2c322.44%2c386.527%2c366.846C366.354%2c407.526%2c385.494%2c453.351%2c409.601%2c491.83C431.829%2c527.311%2c464.436%2c557.614%2c506.303%2c558.035' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M921.6433475660953 194.46562371869106L1001.8637826019428 49.74412796537308 857.1422868486248-30.47630707047452 776.9218518127773 114.24518868284346z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M589.6069356193068 378.5748038183135L694.2152496225134 414.5943349092935 730.2347807134934 309.9860209060869 625.6264667102868 273.9664898151069z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M160.49 467.93 a168.73 168.73 0 1 0 337.46 0 a168.73 168.73 0 1 0 -337.46 0z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M102.06197422722593 225.9888082258586L81.67338376369392 307.7629781186635 183.83614412003084 246.37739868939062z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M943.034907326752 511.1086511260238L1092.6749510513928 521.5725023227754 1103.1388022481444 371.93245859813464 953.4987585235036 361.468607401383z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M774.68 350.54 a98.74 98.74 0 1 0 197.48 0 a98.74 98.74 0 1 0 -197.48 0z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M904.0601036929944 354.94652702732236L957.6789664940941 395.351238252997 991.4766019320563 294.7205884385102z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M614.2923114302047 219.97885462676362L610.6359195921557 324.6842174027213 718.9976742061624 223.63524646481267z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1427.5902739824594 313.40925789390394L1523.7913496607302 223.70030352124527 1434.0823952880717 127.4992278429743 1337.8813196098008 217.20818221563297z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M274.3 386.35 a112.09 112.09 0 1 0 224.18 0 a112.09 112.09 0 1 0 -224.18 0z' fill='rgba(80%2c 80%2c 80%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1028'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1029'%3e%3cstop stop-color='rgba(31%2c 31%2c 31%2c 1)' offset='0.25'%3e%3c/stop%3e%3cstop stop-color='rgba(31%2c 31%2c 31%2c 1)' offset='0.26'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.servicesFront {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.servicesFront h2 {
    font-size: 3em;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 3;
}

.servicesFront strong {
    font-family: fantasy;
    font-weight: 900;
}

#services h5 {
    width: 96%;
    font-size: 1.5em !important;
    text-align: center;
    color: white;
}

#services p {
    width: 95%;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: justify;
}

#services ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

#services ul li {
    color: white;
}


/* https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&w=800 */

.pic {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* services */

.activeOff {
    opacity: 0;
}

.activado {
    opacity: 1;
    animation: up 3s linear 1;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(200px);
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#services .servicesListServ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0em;
    background: linear-gradient( transparent, rgb(0 0 0));
    padding-top: 20px;
    overflow: hidden;
}

#services .servicesListServ .cartasServ {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 400px;
    background-image: linear-gradient(163deg, #9c9c9c 0%, #575757 100%);
    border-radius: 20px;
    opacity: 1;
    transition: 1s;
}

#services .servicesListServ .carta2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    transition: all .2s;
    border-radius: 30px;
    transform: scale(1);
    box-shadow: var(--shadow-color) var(--shadow-color) 0px 4px 2px, var(--shadow-color) 0px 8px 4px, var(--shadow-color) 0px 16px 8px, var(--shadow-color) 0px 32px 16px;
}

#services .servicesListServ .carta2 h3 {
    font-size: 14px;
    text-align: center;
}

#services .servicesListServ .carta2 p {
    font-size: 12px;
    text-align: center;
}

.carta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 340px;
    background-image: linear-gradient(163deg, #fa6232 0%, #592b78 100%);
    border-radius: 20px;
    transition: all .3s;
}

.carta2 {
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    transition: all .2s;
    border-radius: 30px;
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.carta2:hover {
    transform: scale(0.98);
}

.carta:hover {
    box-shadow: 0px 0px 30px 1px #fa6232;
}

.cartasServOpen {
    width: 100% !important;
    height: 1200px !important;
    padding: 5px;
    transition: 1s;
}

#services .kindOf {
    color: white;
    font-size: 3em;
    z-index: 3;
}

.servicesListServ button {
    width: 120px;
    padding: 5px;
    border: none;
    background-color: rgb(87, 87, 87);
    color: white;
    margin-top: 25px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.descimg {
    background-image: url("https://cdn.pixabay.com/photo/2018/05/18/15/30/web-design-3411373_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}

.descimg2 {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/04/20/43/webinar-3199164_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}

.descLetter {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 15px;
}

.float {
    position: relative;
    width: 100%;
    height: 1000px;
    font-size: 18px;
}

.spancell {
    position: relative;
    left: -100px;
    top: 2950px;
    color: #ccc;
    width: 370px;
    height: 300px;
    object-fit: cover;
    transform: scale(0.1);
}

.spantablet {
    position: relative;
    right: 0px;
    top: -210px;
    color: #ccc;
    width: 370px;
    height: 300px;
    object-fit: cover;
    transform: scale(0.1);
}