.aboutFront {
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    padding: 0px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1073%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 37%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c504.259C96.37%2c506.209%2c196.308%2c482.621%2c271.026%2c421.725C342.601%2c363.391%2c354.943%2c263.53%2c396.527%2c181.088C440.191%2c94.521%2c529.898%2c21.608%2c521.569%2c-74.99C513.209%2c-171.947%2c430.678%2c-246.642%2c354.431%2c-307.116C286.664%2c-360.864%2c196.964%2c-364.931%2c116.381%2c-396.357C26.124%2c-431.556%2c-51.119%2c-510.85%2c-147.672%2c-502.926C-249.414%2c-494.576%2c-341.01%2c-430.563%2c-407.775%2c-353.339C-474.502%2c-276.16%2c-506.54%2c-175.859%2c-518.084%2c-74.489C-529.396%2c24.846%2c-518.945%2c127.244%2c-472.589%2c215.824C-427.544%2c301.899%2c-346.993%2c360.288%2c-264.069%2c410.899C-182.73%2c460.543%2c-95.273%2c502.331%2c0%2c504.259' fill='%23181818'%3e%3c/path%3e%3cpath d='M1440 1010.315C1526.254 1012.2239999999999 1610.084 984.226 1683.16 938.365 1756.769 892.1700000000001 1835.1680000000001 834.206 1855.3220000000001 749.671 1874.997 667.144 1814.9859999999999 589.807 1785.2 510.368 1761.888 448.197 1731.475 393.23900000000003 1699.795 334.88599999999997 1658.416 258.67 1652.435 143.91199999999998 1570.624 115.13600000000002 1489.859 86.72699999999998 1417.548 179.861 1336.365 207.05200000000002 1259.306 232.86200000000002 1158.79 208.803 1106.1399999999999 270.709 1053.466 332.64300000000003 1085.463 427.13300000000004 1080.185 508.266 1075.376 582.197 1055.603 654.923 1076.5230000000001 725.995 1099.433 803.828 1139.754 877.764 1203.66 927.7529999999999 1270.747 980.23 1354.847 1008.4300000000001 1440 1010.315' fill='%23323232'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1073'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#about {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.out {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1073%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 37%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c504.259C96.37%2c506.209%2c196.308%2c482.621%2c271.026%2c421.725C342.601%2c363.391%2c354.943%2c263.53%2c396.527%2c181.088C440.191%2c94.521%2c529.898%2c21.608%2c521.569%2c-74.99C513.209%2c-171.947%2c430.678%2c-246.642%2c354.431%2c-307.116C286.664%2c-360.864%2c196.964%2c-364.931%2c116.381%2c-396.357C26.124%2c-431.556%2c-51.119%2c-510.85%2c-147.672%2c-502.926C-249.414%2c-494.576%2c-341.01%2c-430.563%2c-407.775%2c-353.339C-474.502%2c-276.16%2c-506.54%2c-175.859%2c-518.084%2c-74.489C-529.396%2c24.846%2c-518.945%2c127.244%2c-472.589%2c215.824C-427.544%2c301.899%2c-346.993%2c360.288%2c-264.069%2c410.899C-182.73%2c460.543%2c-95.273%2c502.331%2c0%2c504.259' fill='%23181818'%3e%3c/path%3e%3cpath d='M1440 1010.315C1526.254 1012.2239999999999 1610.084 984.226 1683.16 938.365 1756.769 892.1700000000001 1835.1680000000001 834.206 1855.3220000000001 749.671 1874.997 667.144 1814.9859999999999 589.807 1785.2 510.368 1761.888 448.197 1731.475 393.23900000000003 1699.795 334.88599999999997 1658.416 258.67 1652.435 143.91199999999998 1570.624 115.13600000000002 1489.859 86.72699999999998 1417.548 179.861 1336.365 207.05200000000002 1259.306 232.86200000000002 1158.79 208.803 1106.1399999999999 270.709 1053.466 332.64300000000003 1085.463 427.13300000000004 1080.185 508.266 1075.376 582.197 1055.603 654.923 1076.5230000000001 725.995 1099.433 803.828 1139.754 877.764 1203.66 927.7529999999999 1270.747 980.23 1354.847 1008.4300000000001 1440 1010.315' fill='%23323232'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1073'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    height: 100%;
    width: 100%;
    animation: desve 2s 1;
}

@keyframes desve {
    0% {
        opacity: 0;
        /* Inicio de la animación: giro de 0 grados */
    }
    100% {
        opacity: 1;
        /* Final de la animación: giro de 360 grados */
    }
}

.aboutimg {
    width: 70%;
    height: 30%;
    z-index: 6;
}

.meparallax {
    height: 1000px;
    width: 100%;
    z-index: 5;
}

.out p {
    width: 80% !important;
    font-size: 10px;
    z-index: 1;
    animation: lazy 1.8s 1;
}

@keyframes lazy {
    0% {
        transform: translateY(200px);
        /* Inicio de la animación: giro de 0 grados */
    }
    100% {
        transform: translateY(0px);
        /* Final de la animación: giro de 360 grados */
    }
}

.know {
    margin-bottom: 20px;
    padding: 5px 10px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #3a3939;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    color: white;
    overflow: hidden;
}

.know::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.know button:hover {
    color: #e8e8e8;
}

.know:hover::before {
    width: 100%;
}

.aboutimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.float {
    position: relative;
    width: 100%;
    height: 1000px;
    font-size: 18px;
}

.span1 {
    position: relative;
    top: 2500px;
    color: #ccc;
    width: 370px;
    height: 100%;
    object-fit: cover;
}

.span6 img {
    position: relative;
    top: 2070px;
    font-size: 18px;
    color: #ccc;
    width: 170px;
    height: 140px;
}

.span7 img {
    position: relative;
    top: 2100px;
    font-size: 18px;
    color: #ccc;
    width: 170px;
    height: 140px;
}

.span8 img {
    position: relative;
    top: 2000px;
    font-size: 18px;
    color: #ccc;
    width: 170px;
    height: 140px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        /* Inicio de la animación: giro de 0 grados */
    }
    100% {
        transform: rotate(360deg);
        /* Final de la animación: giro de 360 grados */
    }
}

.part2 {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 600px;
    z-index: 99;
}

.aboutFront img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutFrontDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1073%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 37%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c504.259C96.37%2c506.209%2c196.308%2c482.621%2c271.026%2c421.725C342.601%2c363.391%2c354.943%2c263.53%2c396.527%2c181.088C440.191%2c94.521%2c529.898%2c21.608%2c521.569%2c-74.99C513.209%2c-171.947%2c430.678%2c-246.642%2c354.431%2c-307.116C286.664%2c-360.864%2c196.964%2c-364.931%2c116.381%2c-396.357C26.124%2c-431.556%2c-51.119%2c-510.85%2c-147.672%2c-502.926C-249.414%2c-494.576%2c-341.01%2c-430.563%2c-407.775%2c-353.339C-474.502%2c-276.16%2c-506.54%2c-175.859%2c-518.084%2c-74.489C-529.396%2c24.846%2c-518.945%2c127.244%2c-472.589%2c215.824C-427.544%2c301.899%2c-346.993%2c360.288%2c-264.069%2c410.899C-182.73%2c460.543%2c-95.273%2c502.331%2c0%2c504.259' fill='%23181818'%3e%3c/path%3e%3cpath d='M1440 1010.315C1526.254 1012.2239999999999 1610.084 984.226 1683.16 938.365 1756.769 892.1700000000001 1835.1680000000001 834.206 1855.3220000000001 749.671 1874.997 667.144 1814.9859999999999 589.807 1785.2 510.368 1761.888 448.197 1731.475 393.23900000000003 1699.795 334.88599999999997 1658.416 258.67 1652.435 143.91199999999998 1570.624 115.13600000000002 1489.859 86.72699999999998 1417.548 179.861 1336.365 207.05200000000002 1259.306 232.86200000000002 1158.79 208.803 1106.1399999999999 270.709 1053.466 332.64300000000003 1085.463 427.13300000000004 1080.185 508.266 1075.376 582.197 1055.603 654.923 1076.5230000000001 725.995 1099.433 803.828 1139.754 877.764 1203.66 927.7529999999999 1270.747 980.23 1354.847 1008.4300000000001 1440 1010.315' fill='%23323232'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1073'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.aboutFront h3 {
    width: 25%;
    font-size: 3em;
    color: white;
}

.aboutFront strong {
    font-family: cursive !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-size: 3em;
    color: white;
    font-family: cursive;
    z-index: 77;
    /* background-image: url("../asssets/ilustracion/startm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
}

#about h5 {
    width: 90%;
    font-size: 2em;
    color: white;
    text-align: center;
}

#about h1 {
    text-align: center;
    background-color: rgb(31, 31, 31);
    padding: 10px;
    width: 100%;
}

#about h1 span {
    text-align: center;
    width: 80%;
    font-size: 1.5em;
    color: white;
    animation: letra 3s infinite;
    border-right: 3px solid white;
    padding-right: 5px;
}

@keyframes letra {
    0% {
        border-right: 3px solid white;
        width: 0%;
        color: gray;
        /* Inicio de la animación: giro de 0 grados */
    }
    10% {
        border-right: none;
    }
    20% {
        border-right: 3px solid white;
    }
    30% {
        width: 50%;
        border-right: none;
    }
    40% {
        border-right: 3px solid white;
    }
    100% {
        border-right: none;
        width: 100%;
        color: white;
        /* Final de la animación: giro de 360 grados */
    }
}

#about p {
    text-align: justify;
    width: 90%;
    font-size: 1em;
    color: white;
}

.experience {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0px 10px 0px;
}

.experience h3 {
    width: 100%;
    font-size: 2em;
    text-align: center;
    background-color: rgb(31, 31, 31);
    text-transform: uppercase;
    padding: 20px;
}

.hability {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center !important;
    gap: 10px;
    width: 100%;
}

.hability span {
    text-align: center;
    width: 100px;
    height: 140px;
    overflow: hidden;
}

.experience span div {
    width: 100px;
    height: 100px;
}

.experience span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experience li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.experience li:nth-child(1) {}

.experience li:nth-child(2) {
    width: 100%;
}


/* desde aqui */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    padding: 1em !important;
}

.card h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    width: 100%;
    height: 80%;
    color: white;
}

h3 div {
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: white;
}

h3 div span {
    font-size: 28px;
    color: rgba(187 130 5);
    color: white;
}

.card p {
    padding: 10px;
    font-size: 13px;
    width: 90%;
    text-align: justify;
    color: rgb(29, 29, 29);
}

.card button {
    padding: 0px!important;
    font-size: 10px;
    align-self: center;
    width: 20%;
    border: none;
    background: none;
    color: rgba(187 130 5);
    font-size: 13px;
}

.consult {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background: url("https://images.pexels.com/photos/5669619/pexels-photo-5669619.jpeg?auto=compress&cs=tinysrgb&w=1200")no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px
}

.consult h4 {
    font-size: 4em;
    color: white;
}

.consult p {
    font-size: 1.6em;
    color: white;
}

.consult button {
    width: 120px;
    color: white;
    margin-top: 30px;
}

pre {
    color: white;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    padding-top: 2em !important;
}

.reviews h5 {
    align-self: start;
    font-size: 14px;
    color: rgb(187 130 5);
    margin-left: 20px !important;
}

.reviews h6 {
    align-self: start;
    font-size: 20px;
    color: #000;
    margin-left: 20px !important;
}

.reviewSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100%;
    align-self: center;
    overflow: hidden;
}

.slash {
    width: 100% !important;
    height: auto !important;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.301);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.miniature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 3px;
}

.one img {
    margin-left: 7px !important;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100%;
}

.one h6 {
    text-align: center;
    width: 30%;
    height: 30%;
    text-transform: uppercase;
    color: white;
}

.two {
    width: 100%;
    height: 50%;
}

.two p {
    width: 90%;
    height: 50%;
    font-size: 17px;
    color: black;
    padding: 10px !important;
    text-align: justify;
}