#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicesFront {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://cdn.pixabay.com/photo/2020/04/30/15/34/code-5113374_1280.jpg");
}

.servicesFront h2 {
    font-size: 3em;
    color: white;
    width: 100%;
    text-align: center;
}

.servicesFront strong {
    font-family: fantasy;
    font-weight: 900;
}

#services h5 {
    width: 96%;
    font-size: 1.5em !important;
    text-align: center;
    color: white;
}

#services p {
    width: 95%;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: justify;
}

#services ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

#services ul li {
    color: white;
}


/* https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&w=800 */

.pic {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* services */

.activeOff {
    opacity: 0;
}

.activado {
    opacity: 1;
    animation: up 3s linear 1;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(200px);
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(198 196 204);
    padding-top: 3em;
    background-color: black;
}

article strong {
    width: 100%;
    font-size: 3em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
    /* background: radial-gradient(black, rgb(51, 51, 51)); */
    background: radial-gradient( #313131, black);
}

article ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 390px;
    background-color: #313131;
    padding: 1em;
}

#services .servicesListServ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0em;
    background: linear-gradient( transparent, rgb(0 0 0), rgb(0 0 0));
    padding-top: 20px;
    overflow: hidden;
}

#services .servicesListServ .cartasServ {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 400px;
    background-image: linear-gradient(163deg, #9c9c9c 0%, #575757 100%);
    border-radius: 20px;
    opacity: 1;
    transition: 1s;
}

#services .servicesListServ .carta2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    transition: all .2s;
    border-radius: 30px;
    transform: scale(1);
    box-shadow: var(--shadow-color) var(--shadow-color) 0px 4px 2px, var(--shadow-color) 0px 8px 4px, var(--shadow-color) 0px 16px 8px, var(--shadow-color) 0px 32px 16px;
}

#services .servicesListServ .carta2 h3 {
    font-size: 14px;
    text-align: center;
}

#services .servicesListServ .carta2 p {
    font-size: 12px;
    text-align: center;
}

.carta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 340px;
    background-image: linear-gradient(163deg, #fa6232 0%, #592b78 100%);
    border-radius: 20px;
    transition: all .3s;
}

.carta2 {
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    transition: all .2s;
    border-radius: 30px;
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.carta2:hover {
    transform: scale(0.98);
}

.carta:hover {
    box-shadow: 0px 0px 30px 1px #fa6232;
}

.cartasServOpen {
    width: 100% !important;
    height: 1200px !important;
    padding: 5px;
    transition: 1s;
}

#services strong {
    color: white;
    font-size: 2em;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.descimg {
    background-image: url("https://cdn.pixabay.com/photo/2018/05/18/15/30/web-design-3411373_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}

.descimg2 {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/04/20/43/webinar-3199164_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}

.descLetter {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 15px;
}

.spancell {
    position: relative;
    left: -200px;
    top: 2650px;
    color: #ccc;
    width: 370px;
    height: 300px;
    object-fit: cover;
    transform: scale(0.2);
}

.spantablet {
    position: relative;
    right: 0px;
    top: -430px;
    color: #ccc;
    width: 370px;
    height: 300px;
    object-fit: cover;
    transform: scale(0.2);
}