#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicesFront {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: -800px 0px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(47%2c 47%2c 47%2c 1)'%3e%3c/rect%3e%3cpath d='M417.3 610C621.43 576.51 721.01 82.7 1051.71 78.82 1382.42 74.94 1522.76 234.46 1686.13 235.62' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M401.49 562.32C541.07 560.9 654.51 416.94 939.13 411.62 1223.76 406.3 1331.24 192.04 1476.78 187.62' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M579.62 592.22C738.85 582.38 827.47 300.36 1139.22 285.54 1450.98 270.72 1546.06 44.51 1698.83 39.14' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M565.77 661.36C666.15 643.53 607.22 412.69 873.45 393.68 1139.67 374.67 1321.02 130.66 1488.8 124.88' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M475.2 567.42C618.05 559.51 726.63 301.76 981.96 301.52 1237.28 301.28 1357.28 440.24 1488.71 441.52' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.servicesFront strong {
    font-family: fantasy;
    font-weight: 900;
}

#services h5 {
    width: 96%;
    font-size: 1.5em !important;
    text-align: center;
    color: white;
}

#services p {
    width: 95%;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: justify;
}

#services ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

#services ul li {
    color: white;
}


/* https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&w=800 */

.pic {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* services */

.activeOff {
    opacity: 0;
}

.activado {
    opacity: 1;
    animation: up 3s linear 1;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(200px);
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(198 196 204);
    padding-top: 3em;
    background-color: black;
}

article strong {
    width: 100%;
    font-size: 3em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
    /* background: radial-gradient(black, rgb(51, 51, 51)); */
    background: radial-gradient( #313131, black);
}

article ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 390px;
    background-color: #313131;
    padding: 1em;
}

.carta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 340px;
    background-image: linear-gradient(163deg, #fa6232 0%, #592b78 100%);
    border-radius: 20px;
    transition: all .3s;
}

.carta2 {
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    transition: all .2s;
    border-radius: 30px;
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.carta2:hover {
    transform: scale(0.98);
}

.carta:hover {
    box-shadow: 0px 0px 30px 1px #fa6232;
}


/* article li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 3px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
} */


/* article li h1 {
    font-size: 27px;
    color: black;
} */

article h3 {
    width: 100%;
    font-size: 28px;
    text-align: center;
    color: white;
}

article li p {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
}

article li i {
    color: green;
}